@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'FiraSans';
		src: url('../public/fonts/FiraSans/FiraSans-Regular.ttf');
	}

	@font-face {
		font-family: 'FiraSans-Medium';
		src: url('../public/fonts/FiraSans/FiraSans-Medium.ttf');
	}
}

/* A CSS hack to hide the password reveal button in IE. */
::-ms-reveal {
	display: none;
}
