@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'FiraSans';
		src: url('../public/fonts/FiraSans/FiraSans-Regular.ttf');
	}

	@font-face {
		font-family: 'FiraSans-Medium';
		src: url('../public/fonts/FiraSans/FiraSans-Medium.ttf');
	}
}

@layer components {
	.pagination {
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 5rem;
		font-size: 1.2rem;
		gap: 5px;
	}
	.pagination .page-num {
		background-color: #a0aec0;
		color: #fff;
		padding: 8px 15px;
		cursor: pointer;
		border-radius: 3px;
		font-weight: 400;
	}
	.pagination .page-num:hover {
		background-color: #334155;
	}
	.pagination .active {
		background-color: #334155;
	}
}

/* A CSS hack to hide the password reveal button in IE. */
::-ms-reveal {
	display: none;
}

/* Custome scrollbar overlay utility for edge, chrome and others */
@layer utilities {
	.overlay {
		overflow-y: overlay;
	}
}

/* Custome scrollbar for edge, chrome and others*/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 100%;
	background-color: #858585;
}

body {
	overflow-y: overlay;
}
